{% extends 'base.html.twig' %}

{% block title %}Edit Produit{% endblock %}

{% block body %}
    <h1>Edit Produit</h1>

    {{ include('produit/_form.html.twig', {'button_label': 'Update'}) }}

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('app_boutique_index') }}">Retourner à la liste</a>
    {% elseif is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_produit_boutique') }}">retourner à ma boutique</a>
    {% endif %}

    {{ include('produit/_delete_form.html.twig') }}
{% endblock %}
