{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    
        <div class="flex">
            <aside class="w-72 border-l border-gray-200">
                <div class="p-4">
                    <h2 class="text-xl font-semibold mb-4">Catégories</h2>
                    <ul>
                        <li><a href="{{ path('app_categorie_b_index') }}" class="text-blue-600 hover:text-blue-800">Catégories des boutiques</a></li>
                        <li><a href="{{ path('app_categorie_p_index') }}" class="text-blue-600 hover:text-blue-800">Catégories des produits</a></li>
                    </ul>
                </div>
                <div class="p-4 mt-4">
                    <h2 class="text-xl font-semibold mb-4">Boutique</h2>
                    <ul>
                        <li><a href="{{ path('app_boutique_index') }}" class="text-blue-600 hover:text-blue-800">Gestion des boutiques</a></li>
                    </ul>
                </div>
                <div class="p-4 mt-4">
                    <h2 class="text-xl font-semibold mb-4">Utilisateurs</h2>
                    <ul>
                        <li><a href="{{ path('app_admin_users') }}" class="text-blue-600 hover:text-blue-800">Liste des utilisateurs</a></li>
                    </ul>
                </div>
            </aside>
            <main class="flex-1 bg-gray-100 p-8">
                <h1 class="text-3xl font-bold mb-8">Administration</h1>
            </main>
        </div>
{% endblock %}
