    <div class="container mx-auto">
        <div class="flex">
            <aside class="w-72 border-l border-gray-200">
                <div class="p-4">
                    <h2 class="text-xl font-semibold mb-4">Mes informations personnelles</h2>
                    <ul>
                        <li><a href="{{ path('app_user_profile_edit') }}" class="text-blue-600 hover:text-blue-800">Gérer mes informations</a></li>
                    </ul>
                </div>
                <div class="p-4 mt-4">
                    <h2 class="text-xl font-semibold mb-4">Mes commandes</h2>
                    <ul>
                        <li><a href="{{ path('app_commande_historique') }}" class="text-blue-600 hover:text-blue-800">Voir mes commandes</a></li>
                    </ul>
                    <ul>
                        <h2 class="text-xl font-semibold mb-4">Ma boutique</h2>
                        <div>
                            {% if boutique %}
                        <li><a href="{{ path('app_professionnel') }}" class="text-blue-600 hover:text-blue-800">Gérer ma boutique</a></li>
                            {% else %}
                        <li><a href="{{ path('app_boutique_new') }}" class="text-blue-600 hover:text-blue-800">Enregistrer ma boutique</a></li>
                            {% endif %}
                         </div>
                    </ul>
                </div>
            </aside>
        </div>
    </div>