<form method="post" action="{{ path('app_boutique_delete', {'id': boutique.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir fermer votre boutique ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ boutique.id) }}">
    <button class="btn">Delete</button>
</form>
