{% extends 'base.html.twig' %}

{% block title %}Modifier ma boutique{% endblock %}

{% block body %}
    <h1>Modifier ma boutique</h1>

    {{ include('boutique/_form.html.twig', {'button_label': 'Update'}) }}

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('app_boutique_index') }}">Retourner à la liste</a>
    {% elseif is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_professionnel') }}">retourner à ma boutique</a>
    {% endif %}

    {{ include('boutique/_delete_form.html.twig') }}
{% endblock %}
