{% extends 'base.html.twig' %}

{% block title %}Votre boutique{% endblock %}

{% block body %}
    <h1>Enregistré votre boutique</h1>

    {{ include('boutique/_form.html.twig') }}

    <a href="{{ path('app_boutique_index') }}">back to list</a>
{% endblock %}
