{% extends 'base.html.twig' %}

{% block title %}Votre boutique{% endblock %}

{% block body %}
    <h1>Enregistré votre boutique</h1>

    {{ include('boutique/_form.html.twig') }}

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('app_boutique_index') }}">Retourner à la liste</a>
    {% elseif is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_profile_index') }}">retourner à mon compte</a>
    {% endif %}
{% endblock %}
