{# templates/user/edit_profile.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <div class="py-5 px-10 w-full">
        <h1 class="text-h6 mb-10 font-semibold text-primary-Text text-center">Modifier mon profil</h1>

        {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
        
    </div>
{% endblock %}
